<!DOCTYPE html>
<head>
    <title>weather</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="main-content">
        {{>headers}}

        <p>Use this site to get your weather</p>

        <form>
            <input>
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footers}}

    <script src="/script/script.js"></script>
</body>
</html>